---
import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card"
import { ContactMe } from "@/components/ContactMe"
import { MyAvatar } from "@/components/MyAvatar"
---

<Card className="col-span-2 lg:col-span-4">
  <CardHeader>
    <MyAvatar client:load />
  </CardHeader>
  <CardContent className="text-4xl font-bold">
    <p>Chakras Andika</p>
    <p>is a Software Enginner</p>
    <p>currently coding at Midstay</p>
  </CardContent>
</Card>
<Card className="col-span-2 h-full gap-2 py-3 justify-between flex flex-col lg:col-span-2">
  <CardHeader />
  <CardContent className="font-bold flex text-center text-xl">
    <p>Any thoughts you'd like to discuss?</p>
  </CardContent>
  <CardFooter>
    <ContactMe />
  </CardFooter>
</Card>