---
import {
  Card,
  CardContent,
  CardHeader,
} from "@/components/ui/card"
import { MyAvatar } from "@/components/MyAvatar"
---

<Card className="col-span-2 md:col-span-3">
  <CardHeader>
    <MyAvatar client:idle />
  </CardHeader>
  <CardContent className="text-3xl font-bold">
    <p>Chakras Andika</p>
    <p>is a Software Engineer</p>
    <p>currently coding at Midstay</p>
  </CardContent>
</Card>
<Card className="h-full pt-6 col-span-2 md:col-span-3">
  <CardContent className="flex flex-col h-full justify-end text-2xl font-semibold">
    <p>as a software engineer,</p>
    <p>my expertise lies in crafting high-performance web apps.</p>
    <p class='text-muted-foreground'>I'm passionate about writing clean code and and dive into the realm of GIS technologies.</p>
  </CardContent>
</Card>
