---
import {
  Card,
  CardContent,
} from "@/components/ui/card"
import { Image } from "astro:assets"
---

<Card className="col-span-1">
  <CardContent className="flex justify-center items-center gap-2 md:gap-3 !py-3">
    <Image width='20' height='20' alt='ruby-on-rails' src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/rails/rails-plain.svg" />
    <p>Rails</p>
  </CardContent>
</Card>
<Card className="col-span-1">
  <CardContent className="flex justify-center items-center gap-2 md:gap-3 !py-3">
    <Image width='20' height='20' alt='ruby' src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/ruby/ruby-plain.svg" />
    <p>Ruby</p>
  </CardContent>
</Card>
<Card className="col-span-1">
  <CardContent className="flex justify-center items-center gap-2 md:gap-3 !py-3">
    <Image width='20' height='20' alt='javascript' src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg" />
    <p>Python</p>
  </CardContent>
</Card>
<Card className="col-span-1">
  <CardContent className="flex justify-center items-center gap-2 md:gap-3 !py-3">
    <Image width='20' height='20' alt='typescript' src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-plain.svg" />
    <p>Typescript</p>
  </CardContent>
</Card>
<Card className="col-span-1">
  <CardContent className="flex justify-center items-center gap-2 md:gap-3 !py-3">
    <Image width='20' height='20' alt='react' src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg" />
    <p>React</p>
  </CardContent>
</Card>
<Card className="col-span-1">
  <CardContent className="flex justify-center items-center gap-2 md:gap-3 !py-3">
    <Image width='20' height='20' alt='nestjs' src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nestjs/nestjs-plain.svg" />
    <p>NestJS</p>
  </CardContent>
</Card>