---
import {
  Card,
  CardContent,
} from "@/components/ui/card"
---

<Card className="col-span-1">
  <CardContent className="flex justify-center items-center !py-3">
    <p>Ruby on Rails</p>
  </CardContent>
</Card>
<Card className="col-span-1">
  <CardContent className="flex justify-center items-center !py-3">
    <p>Ruby on Rails</p>
  </CardContent>
</Card>
<Card className="col-span-1">
  <CardContent className="flex justify-center items-center !py-3">
    <p>Ruby on Rails</p>
  </CardContent>
</Card>
<Card className="col-span-1">
  <CardContent className="flex justify-center items-center !py-3">
    <p>Ruby on Rails</p>
  </CardContent>
</Card>
<Card className="col-span-1">
  <CardContent className="flex justify-center items-center !py-3">
    <p>Ruby on Rails</p>
  </CardContent>
</Card>
<Card className="col-span-1">
  <CardContent className="flex justify-center items-center !py-3">
    <p>Ruby on Rails</p>
  </CardContent>
</Card>