---
import '@/styles/global.css';

import Layout from '../layouts/Layout.astro';
import Navbar from '@/components/contents/Navbar.astro';
import AboutMe from '@/components/contents/AboutMe.astro';
import SkillsCard from '@/components/contents/SkillsCard.astro';
import Introduction from '@/components/contents/Introduction.astro';
---

<script is:inline>
	const getThemePreference = () => {
		if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
			return localStorage.getItem('theme');
		}
		return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
	};
	const isDark = getThemePreference() === 'dark';
	document.documentElement.classList[isDark ? 'add' : 'remove']('dark');

	if (typeof localStorage !== 'undefined') {
		const observer = new MutationObserver(() => {
			const isDark = document.documentElement.classList.contains('dark');
			localStorage.setItem('theme', isDark ? 'dark' : 'light');
		});
		observer.observe(document.documentElement, { attributes: true, attributeFilter: ['class'] });
	}
</script>

<Layout title="Hi, I'm Chakras">
	<main>
    <section class="grid h-fit gap-2 grid-cols-2 lg:grid-cols-6 m-3 lg:mx-auto">
      <Navbar />
      <AboutMe />
      <SkillsCard />
      <Introduction />
    </section>
  </main>
</Layout>